@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content-login {
  min-height: 723px;
}

.img-div-login {
  height: 660px;
  float: left;
  margin-top: 50px;
}
.login-body {
  min-height: 900px;
  overflow-x: hidden;
  overflow-y: hidden;
}
section {
  float: right;
}

.anchor-class-login-register {
  color: #2d9703;
  font-size: 1.1rem;
}
.anchor-class-login-register:hover {
  cursor: pointer;
  color: #206d01;
  border-bottom: 2px solid #206d01;
}
.button-login {
  margin-top: 25px;
}

.login-btn {
  background-color: #2d9703;
  color: aliceblue;
  transition-duration: 1s;
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  transition-timing-function: linear;
  transition: ease;
}
.login-btn:hover {
  background-color: #206d01;
  color: aliceblue;
}
.toast-class-login {
  color: black;
  font-weight: 500;
  vertical-align: middle;
}
.toast-class-login span {
  font-size: 20px;
}
.btns {
  border: 1px solid #2d9703;
  background-color: white;
  color: #2d9703;
  cursor: pointer;
}

.hovers {
  border-color: #2d9703;
  color: #2d9703;
  transition: ease;
  transition-timing-function: linear;
  transition-duration: 0.5s;
}
.hovers:hover {
  background-color: #2d9703;
  color: white;
  text-decoration: none;
}
a {
  text-decoration: none;
}
hr {
  margin-top: 0px;
}
.help-block {
  font-size: smaller;
  color: gray;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.login-form {
  margin-left: -1vw;
}
.login-verification-hero {
  height: 600px;
  width: 35vw;
}
ul#menu li {
  display: inline;
  padding: 10px;
}

button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.btn-class {
  display: block;
  text-align: left;
  transition: ease;
  transition-duration: 0.59s;
  transition-timing-function: ease-out;
}

.resend-password-class {
  margin-top: 105px;
}

.arrow-login {
  color: white;
  float: right;
  margin-right: 0.5vw;
  vertical-align: middle;
  margin-top: 4px;
}
button .arrow-login::after {
  background-image: url("../../assets/images/arrow-for-btn.svg");
  width: 8px;
  height: 16px;
  display: inline-block;
  background-size: 8px 16px;
  content: "";
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

button:hover,
.arrow-login:hover {
  color: white;
}
button:hover .arrow-login::after {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(5px);
}

.login-class {
  font-size: 1.1rem;
  color: #58647a;
}
.login-section {
  margin-top: 140px;
}
.align-class {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.span-column-center {
  vertical-align: middle;
}

.nav-link {
  color: #2d9703;
}
.gray-class {
  color: #58647a;
}

.login-heading {
  font-size: 2.25rem;
  text-align: left;
  font-weight: 700;
}
.login-button-text {
  font-size: 1.1rem;
}

@media (max-width: 481px) {
  .login-verification-hero {
    width: 90vw;
    height: 450px;
  }
  .login-btn {
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
  }
  .form-control-email {
    font-size: 3rem;
  }
  .forgot-pass {
    margin-top: -15px;
  }
  .img-div-login {
    height: 300px;
    padding-left: 0vw;
    float: left;
  }
  .login-heading {
    font-size: 1.1rem;
    text-align: left;
    font-weight: 700;
    margin-top: 15px;
  }
  .login-class {
    font-size: 0.7rem;
    color: #58647a;
    margin: 10px 0px;
  }
  .login-button-text {
    font-size: 4vw;
  }
  .anchor-class-login-register {
    font-size: 0.7rem;
  }
  .last-para {
    margin-bottom: 37.5px;
  }
  .button-login {
    margin: 15px 0;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .login-hero {
    width: 90vw;
    height: 450px;
  }
  .img-div-login {
    height: 300px;
    padding-left: 0vw;
    float: left;
  }
  .login-heading {
    font-size: 2rem;
    text-align: left;
    font-weight: 700;
    margin-top: 20px;
  }
  .login-class {
    font-size: 1rem;
    color: #58647a;
    margin: 10px 0px;
  }
  .login-button-text {
    font-size: 3vw;
  }
  .anchor-class-login-register {
    font-size: 1rem;
  }
  .last-para {
    margin-bottom: 37.5px;
  }
  .button-login {
    margin: 15px 0;
  }
  .nav-item {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .login-button-text {
    font-size: 1.5vw;
  }
  .nav-item {
    margin-top: 30px;
  }
  .login-heading {
    font-size: 1.35rem;
    text-align: left;
    font-weight: 700;
  }
  .login-hero {
    width: 40vw;
    height: 450px;
  }
  .login-class {
    font-size: 0.85rem;
  }

  .img-div-login {
    padding-left: 5vw;
    margin-top: 0px;
  }
  .anchor-class-login-register {
    font-size: 0.85rem;
  }
}
@media (min-width: 1000px) and (max-width: 1167px) {
  .login-button-text {
    font-size: 1.5vw;
  }
  .login-heading {
    font-size: 2.1rem;
    text-align: left;
    font-weight: 700;
  }
  .login-hero {
    width: 40vw;
    height: 450px;
  }
  .login-class {
    font-size: 1rem;
  }

  .img-div-login {
    padding-left: 5vw;
    min-height: 400px;
    margin-top: 0px;
  }
  .anchor-class-login-register {
    font-size: 1rem;
  }
}
@media (min-height: 901px) {
  .main-content-login {
    min-height: 70.5vh;
    margin-top: 15vh;
  }
}
